@charset "utf-8";

$border-red: 1px solid red;
$ten: 10px;
$arr: 10px 20px 30px;

@mixin name ($lh, $line: 1){
    line-height: $lh;
    height: $lh * $line;
    @content;
}

@function smallNum($num) {
    @if $num > 5 {
        @return $num -2;
    } 
    @else {
        @return $num * 2
    } 
}

$lh: 10px;

.one {
    height: smallNum(3px);
    line-height: $lh;
}